.menu {

    border-bottom: 5px solid #732C7B;

}


.menu__item:hover {
	background: #732C7b;
}

.menu__item:first-child {
	border: 0;
}

.menu__item--active {
	background: #732C7b;
}

.logo__tagline {

    display: inline-block;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1;
    color: #732C7b;
    border-top: 1px solid #ebebeb;
}

.toc__menu a {

    display: block;
    padding: 5px 10px;
    color: #732C7b;
    border-bottom: 1px solid #ebebeb;
}

.content a:hover, .warning a:hover {

    color: #732C7b;
    text-decoration: underline;
}

.content a, .warning a {

    color: #732C7b;
    text-decoration: underline;
}


.widget__title {

    position: relative;
    padding-bottom: 5px;
    font-size: 16px;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 3px solid #732C7b;

}

blockquote {

    display: block;
    padding: 5px 0 5px 15px;
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
    line-height: 1.6;
    border-left: 5px solid #732C7b;
}

.icon-tag {

    float: left;
    width: 32px;
    height: 32px;
    padding: 8px;
    margin-right: 6px;
    background: #732C7b;
    fill: #fff;

}

.btn:hover {

    color: #fff;
    background: #732C7b;

}
