
<header class="header">
	<div class="container">
		<div class="logo">

		  <a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
		    <div><img src="{{ .Site.BaseURL }}img/avatar.png" width="50%"></div>
		    <!-- <div class="logo__title">{{ .Site.Title }} </div>-->
				{{ with .Site.Params.subtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
			</a>
		</div>
		{{ partial "menu.html" . }}
	</div>
</header>
